body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.date-time {
    position: fixed;
    bottom: 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    color: #fff;
    margin-bottom: 12.5px;
}
.date, .time {
    background-color: #1f1f1f;
    font-family: 'Calibri';
    margin-right: 54px;
}
.group-label {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    background-color: #005403;
    font-family: 'Calibri';
    color: #fff;
    font-size: large;
}
.option-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #ffffffbd;
    width: 600px;
    height: fit-content;
    overflow: hidden;

    border-radius: 10px;
    padding: 5px;
}
.option-window header {
    width: 100%;
    height: 40px;
    padding-top: 5px;
    font-size: xx-large;
    text-align: center;
    color: #fff;
    font-family: 'Calibri';
    background-color: #005403;
    border-radius: 5px;
}
.option-window form {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr auto auto;
    gap: 10px;
    padding: 10px;
}
.option-window form label {
    text-align: end;
    align-self: center;
    font-size: large;
    color: #0b0b0b;
    font-family: 'Calibri';
    padding-right: 20px;
    font-weight: bold;
}
input[type="checkbox"], input[type="color"] {
    justify-self: end;
}
input[type="color"]::-webkit-color-swatch {
    height: 15px; 
    width: 15px; 
    align-self: center;
    justify-self: center;
    border-radius: 5px;
}
input, #visibility {
    height: 25px;
    min-width: 25px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.custom-file-upload, input[type="submit"] {
    color: #fff;
    height: 25px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
}
input[type="submit"] {
    height: 35px;
}
code {
    text-align: center;
}
code b{
    color: red;
}
.custom-file-upload input[type="file"] {
    display: none;
}
.clock-settings {
    display: flex;
    flex-direction: column;
    border: 1px solid #005403;
    gap: 10px;
    border-radius: 5px;
    padding: 10px;
}
.setting-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    row-gap: 10px;
}
.align-end {
    justify-self: end;
}
.input {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.checkbox {
    display: grid;
    grid-template-columns: 3fr 1fr;
}